body{
    background-image: url(../images/depositphotos_9824225-stock-illustration-garden-flowers-and-herbs-seamless.jpg);
    width: 80%;
    margin: 10px auto; /*marge haut & baxs auto => navigateur centre*/
    font-family: fantasy;
}

#contenu {
    background-color: lavender;
border: rgb(245, 19, 19) 5px solid;
}

header, footer{
    height: 80px;
    background-color: gold;
    color: rgb(26, 32, 224);
    text-align: center;
    padding-top: 6px; /*padding => marge interieur*/
}

nav{
    height: 40px;
    background-color: lightsalmon;
    color: maroon;
    padding-left: 20px; /*EMMET padding left => pl + tab*/
    padding-top: 6px; /*emmet padding top => pt + tab*/
}

main{
    border: maroon 20px solid;
    background-color: mediumaquamarine;
    height: 500px;
    text-align: center;
}