.conteneur{
    width: 80%;
    height: 80%;
    
}
.nav_bar ul li {
    list-style: none;
    display: inline-block;
}

.nav_bar    {
    word-spacing: 10px;
    float: right;
}

a{
    text-decoration: none;
}